<!DOCTYPE html>
<html lang="en" data-ng-app="game" data-ng-controller="GameController as gameCtrl">
    <head>
        <title>Poker 101</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
         
        <script type="text/javascript" src="/Scripts/angular.js"></script>
        <script type="text/javascript" src="/Game/Scripts/deck.js"></script>

        <link rel="stylesheet" type="text/css" href="/Styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/Styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/Game/Styles/game.css" />
        
    </head>
    <body data-ng-controller="TableController as tableCtrl">
        <div class="outer-wrapper">

            <!-- #Start header -->
            <header>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title"><a href="/index.php">How To Play Texas Hold'em</a></p>
                    </div>

                    <!-- #Start Navigation -->
                    <section class="navigation" data-role="navbar">
                        <nav>
                            <ul id="menu">
                                <li><a href="/index.php">Home</a></li>
                                <li><a href="/basicrules.php">Basic Rules</a></li>
                                <li><a href="/protips.php">"Pro Tips"</a></li>
                                <li><a href="/aboutme.php">About Me</a></li>
                                <li><a href="/Game/index.html">Play Poker</a></li>
                            </ul>
                        </nav>
                    </section>
                    <!-- #End Navigation -->


                    <!-- #Start Login -->
                    <div class="float-right">
                        <section id="login">
                            <a href="sandbox/">Sandbox</a>
                        </section>
                    </div>
                    <!-- #End Login -->

                    <div class="clear-fix"></div>
                </div>

            </header>
            <!-- #End header -->


            <!-- #Start div#main -->
            <div id="main">
                <form class="actions clearfix" name="playerForm" data-ng-controller="PlayerController as playerCtrl" data-ng-submit="">
                    <label>New Player: </label>
                    <input type="text" data-ng-model="playerCtrl.player.name" />
                    <br />
                    <button data-ng-click="playerCtrl.addPlayer()">
                        Add Player
                    </button>

                    <hr />

                    <button class="game-play-button" data-ng-click="tableCtrl.dealCards()">
                        Deal Cards
                    </button>

                    <button class="game-play-button" data-ng-click="tableCtrl.dealFlop()" data-ng-hide="table.cards.length || table.players[0].cards.length !== 2">
                        Deal the Flop!
                    </button>
                            
                    <button class="game-play-button" data-ng-click="tableCtrl.dealTurn()" data-ng-hide="table.cards.length !== 3">
                        Deal the Turn!
                    </button>
                            
                    <button class="game-play-button" data-ng-click="tableCtrl.dealRiver()" data-ng-hide="table.cards.length !== 4">
                        Deal the River!
                    </button>
                            
                    <button class="game-play-button" data-ng-click="tableCtrl.getWinner()" data-ng-hide="table.cards.length !== 5">
                        Who Won!?
                    </button>


                         
                </form>

                <section id="table">
                    <h1>Play The Game</h1>
                    <div>
                        <ul id="players">
                            
                        </ul>


                        <ul id="board">
                            <li class="player seat-{{$index + 1}}" data-ng-repeat="player in table.players">

                                <blockquote>
                                    <h3 class="player-name">
                                        {{ player.name }}
                                        <span class="player-money">({{ player.money | currency }})</span>
                                        <span class="hand-rank" data-ng-show="player.handRank">(Hand Rank: {{ player.handRank }})</span>
                                    </h3>
                                </blockquote>

                                <span class="player-hand" data-ng-repeat="card in player.cards">
                                    <img data-ng-src="{{ card.imgMid }}" alt="{{ card.name }} of {{ card.suit }}" width="72" height="100" />
                                </span>

                                <!-- ul>
                                    <li>
                                        <b>Money:</b>
                                        <span data-ng-repeat="chip in player.chips">
                                             <img data-ng-src="{{ chip.imgThumb }}" alt="chips" width="25" height="25" />
                                            x {{ chip.qty }}
                                        </span>
                                    </li>
                                </ul -->
                            </li>

                            <li class="card" data-ng-repeat="card in table.cards">
                                    <img data-ng-src="{{ card.imgMid }}" data-ng-alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                            </li>
                            <li id="potSize">Pot Size: {{ table.money | currency }}</li>
                        </ul>
                        
                    </div>
                </section>
                <!-- #End section#players -->

                <!-- #Start section#cards -->
                <!-- section id="cards" class="the-game">
                    <h2>All Cards (Count: {{ table.shuffledDeck.length }})</h2>
                    <div>
                        <ul class="list-group">
                            <li data-ng-repeat="card in table.shuffledDeck">
                                <img data-ng-src="{{ card.imgMid }}" data-ng-alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                            </li>
                        </ul>
                    </div>
                </section -->
                <!-- #End section#cards -->


            </div>
            <!-- #End div#main-->

            <footer>
                <div class="footer-wrapper">
                    <div class="float-left">
                        <p>(&copy; 2016 Melanie Yaun) Texas Hold'em 101</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
