<!DOCTYPE html>
<html lang="en" data-ng-app="game" data-ng-controller="GameController as gameCtrl">
    <head>
        <title>Poker 101</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
         
        <script type="text/javascript" src="/Scripts/angular.js"></script>
        <script type="text/javascript" src="/Game/Scripts/deck.js"></script>

        <link rel="stylesheet" type="text/css" href="/Game/Styles/game.css" />
        <link rel="stylesheet" type="text/css" href="/Styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/Styles/main.css" />
        
    </head>
    <body data-ng-controller="CardController as cardCtrl">
        <div class="outer-wrapper">

            <!-- #Start header -->
            <header>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title"><a href="/index.php">How To Play Texas Hold'em</a></p>
                    </div>

                    <!-- #Start Navigation -->
                    <section class="navigation" data-role="navbar">
                        <nav>
                            <ul id="menu">
                                <li><a href="/index.php">Home</a></li>
                                <li><a href="/basicrules.php">Basic Rules</a></li>
                                <li><a href="/protips.php">"Pro Tips"</a></li>
                                <li><a href="/aboutme.php">About Me</a></li>
                                <li><a href="/Game/index.html">Play Poker</a></li>
                            </ul>
                        </nav>
                    </section>
                    <!-- #End Navigation -->


                    <!-- #Start Login -->
                    <div class="float-right">
                        <section id="login">
                            <a href="sandbox/">Sandbox</a>
                        </section>
                    </div>
                    <!-- #End Login -->

                    <div class="clear-fix"></div>
                </div>

            </header>
            <!-- #End header -->


            <!-- #Start div#main -->
            <div id="main">
                <h1>Play The Game</h1>

                <!-- #Start section#players -->
                <section id="players">
                    <div data-ng-controller="PlayersController as playersCtrl">
                        <h2>Players: {{ playersCtrl.players.length }}</h2>
                        <ul>
                            <li data-ng-repeat="player in playersCtrl.players">
                                <h3>Player {{ $index + 1 }}:</h3>
                                <ul>
                                    <li>
                                        <b>Name:</b> {{ player.name }}
                                    </li>
                                    <li>
                                        <b>Money:</b> {{ player.money }}
                                    </li>
                                    <li class="player-hand">
                                        <span data-ng-repeat="card in player.cards">
                                            <img data-ng-src="{{ card.imgThumb }}" alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul data-ng-controller="BoardController as boardCtrl">
                            <li><h3>The Flop:</h3></li>
                            <li>Pot Size: {{ boardCtrl.board.pot | currency }}</li>
                            <li>
                                <span data-ng-repeat="card in boardCtrl.board.flop">
                                    <img data-ng-src="{{ card.imgThumb }}" data-ng-alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                                </span>
                            </li>
                        </ul>

                        <form name="playerForm" data-ng-controller="PlayerController as playerCtrl" data-ng-submit="">
                            <blockquote>
                                {{ playerCtrl.player.name }} <br />
                            </blockquote>

                            <label>New Player: </label>
                            <input type="text" data-ng-model="playerCtrl.player.name" />
                            <button data-ng-click="playerCtrl.addPlayer(playersCtrl.players)">Add Player</button>
                            <br />
                            <button data-ng-click="cardCtrl.dealCards(playersCtrl.players)">Shuffle Up and Deal!</button>
                            <br />
                            <button data-ng-click="cardCtrl.dealFlop(playersCtrl.players)">Deal the Flop!</button>
                        </form>
                    </div>
                </section>
                <!-- #End section#players -->

                <!-- #Start section#cards -->
                <section id="cards" class="the-game">
                    <h2>Cards (All)</h2>
                    <div>
                        <ul class="list-group">
                            <li data-ng-repeat="card in cardCtrl.shuffledDeck">
                                <img data-ng-src="{{ card.imgThumb }}" data-ng-alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- #End section#cards -->


            </div>
            <!-- #End div#main-->

            <footer>
                <div class="footer-wrapper">
                    <div class="float-left">
                        <p>(&copy; 2016 Melanie Yaun) Texas Hold'em 101</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
