<!DOCTYPE html>
<html lang="en" data-ng-app="game" data-ng-controller="GameController as gameCtrl">
    <head>
        <title>Poker 101</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
         
        <script src="https://use.typekit.net/hiv2jke.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <script type="text/javascript" src="/Scripts/angular.js"></script>
        <script type="text/javascript" src="/Game/Scripts/deck.js"></script>

        <link rel="stylesheet" type="text/css" href="/Styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/Styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/Game/Styles/game.css" />
        
    </head>
    <body data-ng-controller="TableController as tableCtrl">
        <div class="outer-wrapper">

            <!-- #Start header -->
            <header>
                <div class="content-wrapper">
                    <div class="site-title">
                        How To Play Texas Hold'em
                    </div>

                    <!-- #Start Navigation -->
                    <section class="navigation" data-role="navbar">
                        <nav>
                            <ul id="menu">
                                <li>
                                    <a href="/index.php">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/basicrules.php">
                                        Basic Rules
                                    </a>
                                </li>
                                <li>
                                    <a href="/protips.php">
                                        "Pro Tips"
                                    </a>
                                </li>
                                <li>
                                    <a href="/aboutme.php">
                                        About Me
                                    </a>
                                </li>
                                <li>
                                    <a href="/Game/index.html">
                                        Play Poker
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                    <!-- #End Navigation -->

                    <div class="clear-fix"></div>
                </div>

            </header>
            <!-- #End header -->


            <!-- #Start div#main -->
            <div id="main" class="clearfix">

                <form class="actions clearfix box" name="playerForm" data-ng-controller="PlayerController as playerCtrl" data-ng-submit="">
                    <h2>Play The Game</h2>
                    
                    <hr />
                    
                    <label>New Player: </label>
                    <input type="text" data-ng-model="playerCtrl.player.name" />
                    <br />
                    <button data-ng-click="playerCtrl.addPlayer()">
                        Add Player
                    </button>

                    <hr />
                    <label>Small Blind (Seat {{ table.smallBlind.seat }}): </label>
                    <input type="text" data-ng-model="table.smallBlind.amt" />
                    <br />
                    <br />
                    <label>Big Blind (Seat {{ table.bigBlind.seat }}): </label>
                    <input type="text" data-ng-model="table.bigBlind.amt" />

                    <hr />

                    <button class="game-play-button" data-ng-click="tableCtrl.dealCards()" data-ng-show="table.winner.seat >= 0 || table.players[0].cards.length == 0">
                        Deal Cards
                    </button>

                    <button class="game-play-button" data-ng-click="tableCtrl.dealFlop()" data-ng-hide="!table.winner.seat >= 0 && table.cards.length || table.players[0].cards.length !== 2">
                        Deal the Flop!
                    </button>
                            
                    <button class="game-play-button" data-ng-click="tableCtrl.dealTurn()" data-ng-hide="table.cards.length !== 3">
                        Deal the Turn!
                    </button>
                            
                    <button class="game-play-button" data-ng-click="tableCtrl.dealRiver()" data-ng-hide="table.cards.length !== 4">
                        Deal the River!
                    </button>
                            
                    <button class="game-play-button" data-ng-click="tableCtrl.getWinner()" data-ng-hide="table.cards.length !== 5 || table.winner.seat >= 0">
                        Who Won!?
                    </button>


                         
                </form>

                <section id="table">

                    <div>

                        <ul id="board">
                            <li class="player seat-dealer">
                                <h3 class="player-name">Dealer</h3>
                            </li>
                            <li class="player seat-{{$index + 1}}" data-ng-repeat="player in table.players">

                                <h3 class="player-name">
                                    {{ player.name }}

                                    <span data-ng-show="table.winner.seat === $index" class="winning-player">
                                        (Winner!)
                                    </span>

                                    <span class="player-money">({{ player.money | currency }})</span>
                                    <span class="hand-rank" data-ng-show="player.handRank">(Hand Rank: {{ player.handRank }})</span>
                                    <span data-ng-show="player.isSmallBlind">(Small Blind)</span>
                                    <span data-ng-show="player.isBigBlind">(Big Blind)</span>
                                </h3>

                                <!-- ul>
                                    <li>
                                        <b>Money:</b>
                                        <span data-ng-repeat="chip in player.chips">
                                            <br />
                                            <img data-ng-src="{{ chip.imgThumb }}" alt="chips" width="25" height="25" />
                                            x {{ chip.qty }}
                                        </span>
                                    </li>
                                </ul -->

                                <div class="player-hand">
                                    <span data-ng-repeat="card in player.cards">
                                        <img data-ng-src="{{ card.imgThumb }}" alt="{{ card.name }} of {{ card.suit }}" width="54" height="75" />
                                    </span>
                                    <img class="dealer-button" src="/Game/Images/Chips/dealer-200.png" width="50" height="50" data-ng-show="player.isDealer" />
                                </div>

                            </li>

                            <div id="cardContainer">
                                <li class="card" data-ng-repeat="card in table.cards">
                                    <img data-ng-src="{{ card.imgMid }}" data-ng-alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                                </li>
                            </div>
                            
                            <li id="potSize">
                                <span class="table-money">Pot Size: {{ table.money | currency }}</span>
                                <span class="table-money">Blinds: {{ table.smallBlind.amt }} / {{ table.bigBlind.amt }}</span>
                            </li>
                        </ul>
                        
                    </div>
                </section>
                <!-- #End section#players -->

                <!-- #Start section#cards -->
                <!-- section id="cards" class="the-game">
                    <h2>All Cards (Count: {{ table.shuffledDeck.length }})</h2>
                    <div>
                        <ul class="list-group">
                            <li data-ng-repeat="card in table.shuffledDeck">
                                <img data-ng-src="{{ card.imgMid }}" data-ng-alt="{{ card.name }} of {{ card.suit }}" width="143" height="200" />
                            </li>
                        </ul>
                    </div>
                </section -->
                <!-- #End section#cards -->


            </div>
            <!-- #End div#main-->

            <footer>
                <div class="footer-wrapper">
                    <div class="float-left">
                        <p>(&copy; 2016 Melanie Yaun) Texas Hold'em 101</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
