<ul class="players">
    <!-- Create a seat for the dealer, since every table has a dealer -->
    <li class="player seat-dealer">
        <h3 class="player-name">Dealer</h3>
    </li>

    <li class="player seat-{{$index + 1}}" data-ng-repeat="player in gameCtrl.players">

        <h3 class="player-name">
            {{ player.name }}

            <span data-ng-show="table.winner.seat === $index" class="winning-player">
                (Winner!)
            </span>

            <span class="player-money">({{ player.money | currency }})</span>
            <span class="hand-rank" data-ng-show="player.handRank">(Hand Rank: {{ player.handRank }})</span>
            <span data-ng-show="player.isSmallBlind">(Small Blind)</span>
            <span data-ng-show="player.isBigBlind">(Big Blind)</span>
        </h3>

        <div class="options" data-ng-show="table.players[0].cards.length == 2">
            <button class="hand-option-button" data-ng-click="tableCtrl.playerChecks(player)">Check</button>
            <input type="text" data-ng-model="player.betAmount" />
            <button class="hand-option-button" data-ng-click="tableCtrl.playerBets(player)">Bet</button>
            <button class="hand-option-button" data-ng-click="tableCtrl.playerFolds(player)">Fold</button>

        </div>
        <!-- ul>
            <li>
                <b>Money:</b>
                <span data-ng-repeat="chip in player.chips">
                    <br />
                    <img data-ng-src="{{ chip.imgThumb }}" alt="chips" width="25" height="25" />
                    x {{ chip.qty }}
                </span>
            </li>
        </ul -->

        <div class="player-hand">
            <span data-ng-repeat="card in player.cards">
                <img data-ng-src="{{ card.imgThumb }}" alt="{{ card.name }} of {{ card.suit }}" width="54" height="75" />
            </span>
            <img class="dealer-button" src="/Game/Images/Chips/dealer-200.png" width="50" height="50" data-ng-show="player.isDealer" />
        </div>

    </li>
</ul>