
/Functions/database.php
/addpage.php
/deletepage.php
/editpage.php
/page.php
/selectpagetoedit.php
/Includes/simplecms-config.php
/Includes/simplecms-config-sample.php
/Includes/connectDB.php
/Includes/closeDB.php
/logoff.php
/Styles/.sass-cache
/web.config
/sandbox
/Scripts/bootstrap.min.js
/Game/Scripts/card-handler.js
/Game/Scripts/card-handler.json.bak
/Game/index.php
/Game/Images
/Images
/Scripts/angular.js
/bin
/Game/Scripts/old-script-snippets.js
/node_modules