.red {
  color: #f00;
  fill: #f00; }

.black {
  color: #000;
  fill: #000; }

/* Begin regular expressions */
.player-card div.svg-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 75px;
  height: 100px;
  border: solid black 1;
  margin: 2px;
  padding: 5px;
  box-sizing: border-box;
  clear: none;
  background-color: #e6fae6; }
  .player-card div.svg-card .inner-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    /*($card-width * $card-size-modifier);*/
    height: 100%;
    /*($card-height * $card-size-modifier);*/
    margin: 0px;
    padding: 2px;
    padding-top: 10%;
    border: solid black 2px;
    box-sizing: border-box; }
    .player-card div.svg-card .inner-border div:first-of-type {
      line-height: 90%; }
    .player-card div.svg-card .inner-border div {
      margin: auto;
      padding: 0px;
      color: inherit;
      text-align: center; }
    .player-card div.svg-card .inner-border .suit-value {
      font-size: 40px;
      font-weight: bold; }
    .player-card div.svg-card .inner-border .icon {
      width: 37.5px;
      height: 37.5px; }
.player-card svg.player-card-back {
  width: 75px;
  height: 100px; }

.table-card div.svg-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 200px;
  border: solid black 1;
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
  clear: none;
  background-color: #e6fae6; }
  .table-card div.svg-card .inner-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    /*($card-width * $card-size-modifier);*/
    height: 100%;
    /*($card-height * $card-size-modifier);*/
    margin: 0px;
    padding: 2px;
    padding-top: 10%;
    border: solid black 2px;
    box-sizing: border-box; }
    .table-card div.svg-card .inner-border div:first-of-type {
      line-height: 90%; }
    .table-card div.svg-card .inner-border div {
      margin: auto;
      padding: 0px;
      color: inherit;
      text-align: center; }
    .table-card div.svg-card .inner-border .suit-value {
      font-size: 80px;
      font-weight: bold; }
    .table-card div.svg-card .inner-border .icon {
      width: 75px;
      height: 75px; }
.table-card svg.player-card-back {
  width: 150px;
  height: 200px; }

/* @media */
@media all and (max-width: 1280px) {
  /*$card-type: @include themer { theme-value('size-modifier'); };*/
  img.graphical-card {
    display: none; }

  .svg-card {
    display: inline-block; }

  div#main .player-card div.svg-card {
    width: 50px;
    height: 66.66667px; }
    div#main .player-card div.svg-card .suit-value {
      font-size: 26.66667px; }
    div#main .player-card div.svg-card .icon {
      width: 25px;
      height: 25px; }

  /* #End div#main div.svg-card */
  div#main .table-card div.svg-card {
    width: 100px;
    height: 133.33333px;
    padding: 6.66667px; }
    div#main .table-card div.svg-card .inner-border {
      /*@include border-radius(2px);*/ }
      div#main .table-card div.svg-card .inner-border .suit-value {
        font-size: 53.33333px; }
      div#main .table-card div.svg-card .inner-border .icon {
        width: 50px;
        height: 50px; } }
/* @media */
@media all and (max-width: 720px) {
  div#main .player-card div.svg-card {
    width: 30px;
    height: 40px; }
    div#main .player-card div.svg-card .inner-border {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      border: none; }
      div#main .player-card div.svg-card .inner-border .suit-value {
        font-size: 16px; }
      div#main .player-card div.svg-card .inner-border .icon {
        width: 15px;
        height: 15px; }

  /* #End div#main div.svg-card */
  div#main .table-card div.svg-card {
    width: 75px;
    height: 100px;
    padding: 5px; }
    div#main .table-card div.svg-card .inner-border {
      /*@include border-radius(2px);*/ }
      div#main .table-card div.svg-card .inner-border .suit-value {
        font-size: 40px; }
      div#main .table-card div.svg-card .inner-border .icon {
        width: 37.5px;
        height: 37.5px; } }
/* #End @media ...720px */
/*
@media all and (max-width: 640px) {
    div.svg-card {
        @include border-radius(4px);
        width: $card-width * $card-small-modifier;
        height: $card-height * $card-small-modifier;
        padding: ($card-height * $card-small-modifier) * 0.05;

        .inner-border {
            @include border-radius(5px);
            .suit-value {
                font-size: 5em * $card-small-modifier;
                font-weight: bold;
            }

            .icon {
                width: $suit-size * $card-small-modifier;
                height: $suit-size * $card-small-modifier;
            }
        

        }
    }
}
*/
/* 640w */
@media all and (max-width: 640px) {
  div#main .player-card div.svg-card {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    width: 30px;
    height: 40px;
    padding: 2px;
    padding: 2px; }
    div#main .player-card div.svg-card .inner-border {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      padding: 0px;
      border: none; }
      div#main .player-card div.svg-card .inner-border .suit-value {
        font-size: 20px; }
      div#main .player-card div.svg-card .inner-border .icon {
        width: 15px;
        height: 15px; }

  /* #End div#main div.svg-card */
  div#main .table-card div.svg-card {
    width: 50px;
    height: 66.66667px;
    padding: 3.33333px; }
    div#main .table-card div.svg-card .inner-border {
      /*@include border-radius(2px);*/ }
      div#main .table-card div.svg-card .inner-border .suit-value {
        font-size: 26.66667px; }
      div#main .table-card div.svg-card .inner-border .icon {
        width: 25px;
        height: 25px; } }
/* 480w and 320w */
@media all and (max-width: 480px) {
  div#main .player-card div.svg-card {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    width: 20px;
    height: 30px;
    padding: 5px;
    padding: 2px; }
    div#main .player-card div.svg-card .inner-border {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      padding: 0px;
      border: none; }
      div#main .player-card div.svg-card .inner-border .suit-value {
        font-size: 15px; }
      div#main .player-card div.svg-card .inner-border .icon {
        width: 13px;
        height: 13px; }

  /* #End div#main div.svg-card */
  div#main .table-card div.svg-card {
    width: 25px;
    height: 33.33333px;
    padding: 1.66667px; }
    div#main .table-card div.svg-card .inner-border {
      /*@include border-radius(2px);*/
      border: none; }
      div#main .table-card div.svg-card .inner-border .suit-value {
        font-size: 13.33333px; }
      div#main .table-card div.svg-card .inner-border .icon {
        width: 12.5px;
        height: 12.5px; } }

/*# sourceMappingURL=_card.css.map */
