/* #006400 */
/* #0f3e0f */
/* (w x h) Thumb - 54x75, Mid - 143x200, Full - 800x1120 */
@font-face {
  font-family: "Acumin Pro"; }
div#main {
  height: 780px;
  position: relative;
  margin: 10px auto; }
  div#main h2 {
    width: 98%;
    margin: 0px auto;
    margin-top: 15px;
    font-weight: bold;
    color: darkred;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-bottom: solid black 2px; }
  div#main aside.game-options {
    width: 250px;
    position: absolute;
    top: 50px;
    left: 1.5%;
    padding: 10px;
    border-right: dashed #999 3px;
    background-color: rgba(200, 200, 200, 0.3);
    box-shadow: 4px 4px 2px rgba(100, 100, 100, 0.3);
    -moz-box-shadow: 4px 4px 2px rgba(100, 100, 100, 0.3);
    -webkit-box-shadow: 4px 4px 2px rgba(100, 100, 100, 0.3); }
    div#main aside.game-options label {
      display: block;
      font-size: 1.3em;
      font-weight: bold; }
    div#main aside.game-options button.game-play-button {
      display: inline-block;
      width: 220px;
      height: 50px;
      margin: 3px auto;
      border-width: 3px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      font-size: 1.5em;
      font-weight: bold;
      text-shadow: 1px 1px 1px white; }
    div#main aside.game-options div#playerList {
      display: none; }

section#table {
  display: block;
  width: 1151px;
  height: 550px;
  position: relative;
  padding: 0px;
  margin: 20px auto;
  margin-top: 115px;
  margin-left: 433px;
  float: left;
  clear: none;
  background-color: darkgreen;
  border: solid #0f3e0f 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7); }
  section#table div#board {
    width: 785px;
    height: 210px;
    margin: 0px auto;
    padding: 0px;
    margin-top: 140px;
    border: solid white 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    section#table div#board ul {
      padding: 0px; }
      section#table div#board ul li.card {
        display: inline-block;
        width: 143px;
        height: 200px;
        margin: 5px;
        padding: 0px;
        list-style: none;
        /*.svg-card { display: none; }*/ }
        section#table div#board ul li.card img.graphical-card {
          width: 143px;
          height: 200px; }
  section#table div#potSize {
    width: 183px;
    position: absolute;
    bottom: 0px;
    left: 454px;
    text-align: center;
    list-style: none; }
    section#table div#potSize span {
      display: inline-block;
      color: #fff;
      font-size: 0.9em;
      font-weight: bold;
      font-style: italic; }
    section#table div#potSize .table-winner {
      color: #fff;
      font-weight: bold;
      font-size: .8em;
      text-align: left;
      list-style: none; }
  section#table div#potSize span:before {
    content: "("; }
  section#table div#potSize span:after {
    content: ")"; }
  section#table li.player {
    display: inline-block;
    width: 183px;
    height: 115px;
    position: absolute;
    margin: 0px;
    padding: 0px 10px;
    color: #000; }
    section#table li.player h3 {
      font-weight: bold;
      margin: 0px;
      padding: 0px; }
      section#table li.player h3 span.npc:before {
        font-family: FontAwesome;
        content: "\f108"; }
      section#table li.player h3 span:first-of-type {
        font-size: 1em;
        font-weight: bold;
        font-style: none; }
      section#table li.player h3 span {
        display: block;
        font-size: .6em;
        font-weight: normal;
        font-style: italic; }
      section#table li.player h3 span.winning-player {
        display: inline;
        color: blue;
        font-size: .5em;
        font-weight: bold; }
    section#table li.player div#betOptionsContainer {
      background-color: rgba(0, 100, 0, 0.9);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
      width: 233px;
      position: absolute;
      top: 5px;
      left: 183px;
      margin: 0px;
      padding: 0px;
      border: solid #0f3e0f 2px;
      z-index: 1; }
      section#table li.player div#betOptionsContainer h3 {
        /* Border radius for top corners using webkit */
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        /* Border radius for top corners for firefox or other mozilla browsers */
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        /* Border radius for top corners for all other browsers */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 2px 10px;
        color: #fff;
        font-size: .8em;
        background-color: #0f3e0f;
        border-bottom: solid black 2px; }
    section#table li.player form.bet-options {
      width: 90%;
      margin: 10px auto; }
      section#table li.player form.bet-options h5 {
        margin: 10px 0px 5px 0px;
        color: #fff;
        font-weight: bold;
        border-bottom: solid rgba(255, 255, 255, 0.8) 1px; }
      section#table li.player form.bet-options button {
        background-color: rgba(15, 62, 15, 0.8);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
        -moz-text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
        -webkit-text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        display: block;
        width: 100%;
        margin: 1px auto;
        padding: 1px 5px;
        text-align: center;
        color: #fff;
        font-size: .8em;
        font-weight: 700;
        font-variant: small-caps;
        border-color: rgba(10, 41, 10, 0.87);
        box-sizing: border-box; }
      section#table li.player form.bet-options button.bet {
        display: inline-block;
        width: 33%; }
      section#table li.player form.bet-options .bet-other {
        background-color: rgba(15, 62, 15, 0.8);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        width: 100%;
        position: relative;
        margin: 1px auto;
        padding: 5px 10px;
        border: solid rgba(10, 41, 10, 0.87) 2px;
        border-top-color: rgba(255, 255, 255, 0.4);
        border-right-color: rgba(0, 0, 0, 0.4);
        border-left-color: rgba(255, 255, 255, 0.4);
        border-bottom-color: rgba(0, 0, 0, 0.4);
        box-sizing: border-box; }
        section#table li.player form.bet-options .bet-other input {
          width: 72%;
          min-width: 40px;
          margin: 0px;
          box-sizing: border-box; }
        section#table li.player form.bet-options .bet-other button {
          display: inline-block;
          width: 30%;
          position: absolute;
          top: 0px;
          right: 0px;
          border: none;
          box-shadow: none;
          box-sizing: border-box; }
      section#table li.player form.bet-options button.bet-all-in {
        font-weight: bold;
        font-size: 1.2em; }
    section#table li.player div.player-hand {
      position: absolute; }
      section#table li.player div.player-hand img.dealer-button {
        position: absolute;
        top: 0px;
        left: -50px; }
  section#table li.seat-dealer {
    bottom: -145px;
    left: 454px;
    padding-top: 10px;
    font-variant: small-caps;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: inset #0f3e0f 5px;
    border-top: none; }
  section#table li.seat-1 {
    bottom: -145px;
    left: 637px;
    /* The player's cards */ }
    section#table li.seat-1 div.player-hand {
      top: -105px; }
  section#table li.seat-2 {
    bottom: -145px;
    right: 88px;
    /* The player's cards */ }
    section#table li.seat-2 div.player-hand {
      top: -105px; }
  section#table li.seat-3 {
    top: 183.75px;
    right: -213px;
    /* The player's cards */ }
    section#table li.seat-3 div.player-hand {
      top: 0px;
      left: -143px; }
  section#table li.seat-4 {
    top: -145px;
    right: 90.91667px;
    /* The player's cards */ }
    section#table li.seat-4 div.player-hand {
      bottom: -105px; }
  section#table li.seat-5 {
    top: -145px;
    left: 454px;
    /* The player's cards */ }
    section#table li.seat-5 div.player-hand {
      bottom: -105px; }
  section#table li.seat-6 {
    top: -145px;
    left: 90.91667px;
    text-align: right;
    /* The player's cards */ }
    section#table li.seat-6 div.player-hand {
      bottom: -105px;
      right: 0px; }
  section#table li.seat-7 {
    top: 183.75px;
    left: -213px;
    text-align: right;
    /* The player's cards */ }
    section#table li.seat-7 div.player-hand {
      top: 0px;
      right: -143px; }
    section#table li.seat-7 #betOptionsContainer {
      top: 75px !important; }
  section#table li.seat-8 {
    bottom: -145px;
    left: 88px;
    text-align: right;
    /* The player's cards */ }
    section#table li.seat-8 div.player-hand {
      top: -105px;
      right: 0px; }
  section#table li.seat-9 {
    bottom: -145px;
    left: 271px;
    text-align: right;
    /* The player's cards */ }
    section#table li.seat-9 div.player-hand {
      top: -105px;
      right: 0px; }

li.player-hand {
  font-size: 1.4em; }

div.player-handtype {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 1; }
  div.player-handtype span {
    display: inline-block;
    margin: 2px 10px;
    font-size: .9em;
    text-align: left; }
  div.player-handtype span:first-of-type {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 2px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: darkgreen;
    border-bottom: solid black 1px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    text-align: left; }

.red {
  color: #f00;
  fill: #f00; }

.black {
  color: #000;
  fill: #000; }

/* Begin regular expressions */
.player-card div.svg-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 45px;
  height: 60px;
  border: solid black 1;
  margin: 2px;
  padding: 3px;
  box-sizing: border-box;
  clear: none;
  background-color: #e6fae6; }
  .player-card div.svg-card .inner-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    /*($card-width * $card-size-modifier);*/
    height: 100%;
    /*($card-height * $card-size-modifier);*/
    margin: 0px;
    padding: 2px;
    padding-top: 10%;
    border: solid black 2px;
    box-sizing: border-box; }
    .player-card div.svg-card .inner-border div:first-of-type {
      line-height: 90%; }
    .player-card div.svg-card .inner-border div {
      margin: auto;
      padding: 0px;
      color: inherit;
      text-align: center; }
    .player-card div.svg-card .inner-border .suit-value {
      font-size: 1.5em;
      font-weight: bold; }
    .player-card div.svg-card .inner-border .icon {
      width: 22.5px;
      height: 22.5px; }

.table-card div.svg-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 200px;
  border: solid black 1;
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
  clear: none;
  background-color: #e6fae6; }
  .table-card div.svg-card .inner-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    /*($card-width * $card-size-modifier);*/
    height: 100%;
    /*($card-height * $card-size-modifier);*/
    margin: 0px;
    padding: 2px;
    padding-top: 10%;
    border: solid black 2px;
    box-sizing: border-box; }
    .table-card div.svg-card .inner-border div:first-of-type {
      line-height: 90%; }
    .table-card div.svg-card .inner-border div {
      margin: auto;
      padding: 0px;
      color: inherit;
      text-align: center; }
    .table-card div.svg-card .inner-border .suit-value {
      font-size: 5em;
      font-weight: bold; }
    .table-card div.svg-card .inner-border .icon {
      width: 75px;
      height: 75px; }

/* End @include themer */
svg.player-card-back {
  width: 150px;
  height: 200px; }

/* @media */
@media all and (max-width: 720px) {
  img.graphical-card {
    display: none; }

  .svg-card {
    display: inline-block; }

  div.svg-card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 15px;
    height: 20px;
    padding: 3px; }
    div.svg-card .inner-border {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      div.svg-card .inner-border .suit-value {
        font-size: 0.5em;
        font-weight: bold; }
      div.svg-card .inner-border .icon {
        width: 7.5px;
        height: 7.5px; } }
@media all and (max-width: 640px) {
  div.svg-card {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 40px;
    padding: 2px; }
    div.svg-card .inner-border {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      div.svg-card .inner-border .suit-value {
        font-size: 1em;
        font-weight: bold; }
      div.svg-card .inner-border .icon {
        width: 15px;
        height: 15px; } }
@media all and (max-width: 480px) {
  div.svg-card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 15px;
    height: 20px;
    padding: 1px; }
    div.svg-card .inner-border {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      div.svg-card .inner-border .suit-value {
        font-size: 0.5em;
        font-weight: bold; }
      div.svg-card .inner-border .icon {
        width: 7.5px;
        height: 7.5px; } }
@media all and (max-width: 320px) {
  div.svg-card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 15px;
    height: 20px;
    padding: 1px; }
    div.svg-card .inner-border {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      div.svg-card .inner-border .suit-value {
        font-size: 0.5em;
        font-weight: bold; }
      div.svg-card .inner-border .icon {
        width: 7.5px;
        height: 7.5px; } }
/* @media */
@media all and (max-width: 4000px) {
  img.graphical-card {
    display: inline-block; }

  .svg-card {
    display: none; } }
@media all and (max-width: 1920px) {
  img.graphical-card {
    display: inline-block; }

  .svg-card {
    display: none; } }
@media all and (max-width: 1152px) {
  img.graphical-card {
    display: none; }

  .svg-card {
    display: inline-block; } }
@media all and (max-width: 720px) {
  img.graphical-card {
    display: none; }

  .svg-card {
    display: inline-block; } }

/*# sourceMappingURL=game.css.map */
