$main-background-color: #fff;
$font-stack:            "Acumin Pro", sans-serif;
$font-color:            #434343;
$font-size:             16px;
$background-color-dark: #0f3e0f;
$background-color-light:#006400;

$content-header-color:  #fff;
$content-color:         #fff;

@mixin transparent-background-light($transparency){
    background-color: rgba(0, 100, 0, $transparency);
}

@mixin transparent-background-dark($transparency){
    background-color: rgba(15, 62, 15, $transparency);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin border-radius-4($top-left-radius, $top-right-radius, $bottom-right-radius, $bottom-left-radius) {
    /* Border radius for each corner using webkit */
    -webkit-border-top-left-radius: $top-left-radius;
    -webkit-border-top-right-radius: $top-right-radius;
    -webkit-border-bottom-right-radius: $bottom-right-radius;
    -webkit-border-bottom-left-radius: $bottom-left-radius;
    /* Border radius for each corner for firefox or other mozilla browsers */
    -moz-border-radius-topleft: $top-left-radius;
    -moz-border-radius-topright: $top-right-radius;
    -moz-border-radius-bottomright: $bottom-right-radius;
    -moz-border-radius-bottomleft: $bottom-left-radius;
    /* Border radius for each corner for all other browsers */
    border-top-left-radius: $top-left-radius;
    border-top-right-radius: $top-right-radius;
    border-bottom-right-radius: $bottom-right-radius;
    border-bottom-left-radius: $bottom-left-radius;    
}

@mixin top-border-radius($radius){
    /* Border radius for top corners using webkit */
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    /* Border radius for top corners for firefox or other mozilla browsers */
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    /* Border radius for top corners for all other browsers */
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin bottom-border-radius($radius){
    /* Border radius for bottom corners using webkit */
    -webkit-border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    /* Border radius for bottom corners for firefox or other mozilla browsers */
    -moz-border-radius-bottomright: $radius;
    -moz-border-radius-bottomleft: $radius;
    /* Border radius for bottom corners for all other browsers */
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;    
}

@mixin top-box-shadow($distance, $blur, $spread, $color) {
    -webkit-box-shadow: 0 $distance $blur (0 - $blur) $color;
       -moz-box-shadow: 0 $distance $blur (0 - $blur) $color;
            box-shadow: 0 $distance $blur (0 - $blur) $color;
}

@mixin box-shadow($h-distance, $v-distance, $blur, $color) {
    -webkit-box-shadow: $h-distance $v-distance $blur $color;
       -moz-box-shadow: $h-distance $v-distance $blur $color;
            box-shadow: $h-distance $v-distance $blur $color;
}

@mixin box-emboss($opacity, $opacity2) {
    box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin letterpress($opacity) {
    text-shadow: white($opacity) 0 1px 0;
}

/* End mixins */


/* Begin normal element styling */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $main-background-color;
    color: $font-color;
    font-family: $font-stack;
    font-size: $font-size;
    margin: 0px;
    padding: 0px;
}

@import 'header';

a { text-decoration: none; }

a:link, a:visited,
a:active, a:hover {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

a:hover {
    text-decoration: underline;
}

header, footer, hgroup
nav, section {
    display: block;
}

h1, .h1 { font-size: 250%; }
h2, .h2 { font-size: 200%; }
h3, .h3 { font-size: 150%; }
h4, .h4 { font-size: 125%; }

blockquote { font-size: 100%; }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

div{
    margin: 0px;
    padding: 0px;
}

div.outer-wrapper {
    margin: 0px;
    padding: 0px;
}

section#main {
    /*margin: 0px;*/
    padding: 0px;

    div {
        position: relative;
        /*margin: 0px;*/
        overflow: hidden;
        z-index: -1;

        img {
        }
    }

    div.front-content {
        /*@include border-radius(5px);*/
        @include top-box-shadow(-12px, 6px, 0px, rgba(20, 20, 20, 0.6));
        width: 100%;
        margin: 0px;
        padding: 0px;
        /*margin: 0px auto;*/
        /*margin-top: -30px;*/
        background-color: $background-color-light;
        color: $content-color;

        h2 {
            margin: 0px;
            padding: 5px 10px;
            background-color: $background-color-dark;
            color: $content-header-color;
            text-align: center;
        }

        section {
            width: 100%;
            margin: 0px auto;
            overflow: auto;
            
            blockquote {
                display: inline-block;
                /*width: 25%;
                margin: 10px 4%;
                padding: 5px 20px;
                float: left;
                font-weight: 400;*/
            }
            /*
            blockquote:last-of-type { padding-bottom: 20px; }
            blockquote:after{ content: ""; };
            */
        }
    }

    h2.page-header{
        /*width: 60%;*/
        /*margin: 20px auto;*/
        padding: 5px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(100, 100, 100, 0.3);
    }

    div:not(.front-content):not(.front-content-header) {
        @include border-radius(5px);
        @include box-shadow(3px, 3px, 2px, rgba(20, 20, 20, 0.6));
        /*width: 60%;*/
        margin: 30px auto;
        padding: 0px;
        background-color: #eee;
        border: solid black 1px;

        h4 {
            @include top-border-radius(5px);
            @include letterpress(1.0);
            margin: 0px;
            padding: 2px 10px;
            color: $content-header-color;
            background-color: $background-color-dark;
            border: solid black 2px;
        }

        ul {
            margin: 15px 25px;

            li {
                list-style-type: square;

                h5 { font-weight: bold; text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.2); }
                
            }
        }

        p {
            margin: 15px 25px;
        }
    }

}

footer {
    color: #fff;
    background-color: $background-color-dark;
    font-weight: bold;
    font-style: italic;
}
/* End normal styling */

/* @media */
@media all and (max-width: 720px) {
    body{ font-size: 14px; }
}

@media all and (max-width: 640px) {
    body { font-size: 12px; }
    div.site-title { display: none; }
    ul#menu {
        padding-left: 2px;
    }
    a.menu-item { font-size: 14px; }
    a.menu-item:hover{
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: none;
        border: none;
        background-color: $background-color-dark;
    }
    footer { position: absolute; left: 0px; bottom: 0px; }
}

@media all and (max-width: 480px) {
    body{ font-size: 10px; }
    div.site-title { display: none; }
    ul#menu {
        padding-left: 2px;
    }
    a.menu-item { font-size: 14px; }
    a.menu-item:hover{
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: none;
        border: none;
        background-color: $background-color-dark;
    }
}

@media all and (max-width: 320px) {
    body{ font-size: 10px; }
    div.site-title { display: none; }
    ul#menu {
        @include transparent-background-dark(0.4);
        padding-left: 2px;
    }
    a.menu-item { font-size: 14px; }
    a.menu-item:hover{
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: none;
        border: none;
        background-color: $background-color-dark;
    }
}
/* End @media */