/* #Start Header CSS */
$nav-links-width:       150px;
$font-stack:            "Segoe UI", Helvetica, sans-serif;
$font-size:             1.5em;
$first-letter-size:     1.5em;
$color:                 #eee;
$background-color-dark: #0f3e0f;
$background-color-light:#006400;

@mixin box-shadow($h-distance, $v-distance, $blur, $color) {
    -webkit-box-shadow: $h-distance $v-distance $blur $color;
       -moz-box-shadow: $h-distance $v-distance $blur $color;
            box-shadow: $h-distance $v-distance $blur $color;
}

@mixin bottom-box-shadow($distance, $blur, $spread, $color) {
    -webkit-box-shadow: 0 $distance $blur (0 - $blur) $color;
       -moz-box-shadow: 0 $distance $blur (0 - $blur) $color;
            box-shadow: 0 $distance $blur (0 - $blur) $color;
}

@mixin text-shadow($h-distance, $v-distance, $blur-radius, $color) {
    text-shadow: $h-distance $v-distance $blur-radius $color;
    font-variant: small-caps;
}

@mixin box-emboss($opacity, $opacity2) {
    box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin letterpress($opacity) {
    text-shadow: white($opacity) 0 1px 0;
}

header {
    width: 100%;
    margin: 0px;
    padding: 0px;

    div.site-title{
        @include text-shadow(2px, 2px, 2px, #999);
        display: block;
        padding: 10px 30px;
        background-color: $background-color-light;
        color: #fff;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;

        a span::first-letter { font-size: $first-letter-size; }
    }
    
    section.navigation {
        @include bottom-box-shadow(12px, 6px, -6px, rgba(20, 20, 20, 0.6));
        background-color: $background-color-dark;
        margin: 0px;
        padding: 0px;

        ul#menu {
            margin: 0px;
            padding: 0px 50px;
            
            li {
                @include box-emboss(0.8, 0.05);
                display: inline-block;
                width: fit-content;
                margin: 0px;
                padding: 0px;
                border-left: dashed white 1px;
                

                a {
                    /*@include text-shadow(2px, 2px, 2px, #999);*/
                    @include letterpress(1.0);
                    width: 100%;
                    margin: 0px;
                    padding: 2px 50px 2px 5px;
                    color: $color;
                    font-size: $font-size;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                }

                a:hover { background-color: $background-color-light; }
            }
            li:last-child{ border-right: none; }
            
        }
        
    }

}

/* #End Header CSS */