body {
    margin: 0px;
    padding: 0px;
    color: #fff;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/Images/front-1920l.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {}
.logo {  }
svg.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    fill: rgba(207, 255, 208, 0.53);
}

div#myNavbar { margin-left: 85px; }

.front-content {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    z-index: -1;
}

.front-content > div {
    position: fixed;
    bottom: 50px;
}

section#main {
    margin-bottom: 75px;
}

.page-header {
    line-height: 0.38em;
    margin-bottom: 0px;
    font-size: 5em;
    font-family: "Sorts Mill Goudy";
    text-shadow: 0px 0px 10px rgba(255, 255, 150, 0.8);
    font-variant: small-caps;
    border-bottom-width: 3px;
}

.page-header~div {
    background-color: rgba(50, 50, 50, 0.6);
    color: rgba(255, 255, 255, 1.0);
}

.front-content blockquote {
    color: rgba(255, 255, 255, 1.0);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.row.content { height: auto; }

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}


.details {
    margin-top: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: solid rgba(0, 0, 0, 0.4) 2px;
    border-radius: 10px;
}

.details > h3 {
    margin: 0px;
    padding: 5px 10px;
    background-color: rgba(50, 100, 0, 0.4);
    font-family: "Sorts Mill Goudy";
    font-weight: 700;
    font-variant: small-caps;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.7);
    border-bottom: solid rgba(0, 0, 0, 0.4) 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.details h4 { font-weight: 700; font-variant: small-caps; }

.details > ul, .details > p { margin: 5px 15px; }

@media screen and (max-width: 767px) {
    .sidenav { height: auto; padding: 15px; }
    .row.content { height: auto; }
}

@media screen and (max-width: 4000px) { .body { background-image: url("/Images/front-4000l.jpg"); } }
@media screen and (max-width: 1920px) { .body { background-image: url("/Images/front-1920l.jpg"); } }
@media screen and (max-width: 1280px) {
    .body:before { background-image: url("/Images/front-1280l.jpg"); }
    .page-header { font-size: 4em; line-height: .3em }
}
@media screen and (max-width: 1080px) { .body { background-image: url("/Images/front-1080p.jpg"); } }
@media screen and (max-width: 1024px) {
    .body:before { background-image: url("/Images/front-1024l.jpg"); }
    .page-header { font-size: 3.5em; }
    .front-content blockquote { margin-bottom: 0px; font-size: 1.3em; }
    .front-content blockquote:last-child { margin-bottom: 20px; }
}
@media screen and (max-width: 980px) { .body { background-image: url("/Images/front-1080p.jpg"); } }

@media screen and (max-width: 768px) {
    .body:before { background-image: url("/Images/front-768l.jpg"); }
    .page-header { font-size: 3em; line-height: .2em; }
}

@media screen and (max-width: 600px) {
    .body:before { background-image: url("/Images/front-1080p.jpg"); }
    .page-header { font-size: 2em; line-height: 1em; border-bottom-width: 1px; }
    .front-content blockquote { font-size: 1.2em; }
}
@media screen and (max-width: 480px) { .body:before { background-image: url("/Images/front-480l.jpg"); background-size: contain;} }
@media screen and (max-width: 360px) { .body:before { background-image: url("/Images/front-360p.jpg"); background-size: contain;} }
@media screen and (max-width: 320px) { .body:before { background-image: url("/Images/front-320p.jpg"); background-size: contain; } }